@keyframes spinLogoY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.logo-spinner {
	width: 80px; /* Set an appropriate size for the logo */
	height: 80px; /* Set an appropriate size for the logo */
	animation: spinLogoY 0.5s linear infinite; /* Apply faster spinning animation along Y-axis */
	display: inline-block; /* Ensure the logo is displayed properly */
	margin-bottom: 1rem; /* Add some spacing below the logo */
}
