@keyframes spinLogoY {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.logo-spinner {
	width: 80px;
	height: 80px;
	animation: spinLogoY 0.5s linear infinite;
	display: inline-block;
	margin-bottom: 1rem;
}

.receipt-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 800px;
	padding: 1rem;
	background-color: white;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	outline: none;
}

.receipt-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1000;
}

.modal-content {
	position: relative;
	text-align: center;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: transparent;
	border: none;
	font-size: 1.5rem;
	color: #555;
	cursor: pointer;
}

.modal-image {
	max-width: 100%;
	max-height: 80vh;
	margin-top: 2rem;
	border-radius: 10px;
}
